<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark elegant-color-dark justify-content-between fixed-top scrolling-navbar smooth-scrolling">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <strong style="font-family:'Fontdiner Swanky', cursive;;">GAP APP</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://gat-app.readthedocs.io/en/latest/">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/mdyzma/gap_app">GitHub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar-->
